@using WebSis.Buisness.Management.Warehause.Web.App.Views.Bases

<div class="box-form">
	
	<div class="left">
		<div class="overlay">
		
		</div>
	</div>

	<div class="right">
		<h3>Login</h3>

		<br />
		<br />

		<div class="inputs">
			
			<InputBase @ref=@EmailInput
				       Placeholder="email"
					   Type="text"/>

			<InputBase @ref=@PasswordInput
				       Placeholder="password"
					   Type="password" 
					   />
		</div>

		<br>
		<br />

		<ButtonBase @ref=@SubmitButton
			        Label="Submit"/>
	</div>

</div>

